*{
	margin: 0px;
	padding: 0px;
}



/*________Corpo________*/
.corpo{
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}



/*________Conteudo________*/
.conteudo{
	width: 98vw;
	height: 50%;
	margin-top: 5vh;
	-border: 1px solid black;
}



/*________Caixa de Titulos________*/
.titulos{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 16%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Bahnschrift';
	font-size: 250%;
	border-top: 3px solid gray;
	border-radius: 50px;
	-border: 1px solid black;
}



/*________Caixa de Entradas de Botoes________*/
.entradas_controles{
	display: flex;
	-flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1vh;
	width: 80vw;
	height: 8vh;
	margin-left: auto;
	margin-right: auto;
	border-top: 3px dashed gray;
	border-bottom: 3px dashed gray;
	border-radius: 50px;
	-border: 1px solid black;
}



/*________Botao Padrao________*/
.btn_padrao{
	width: 50%;
	height: 50%;
	font-family: 'Bahnschrift';
	font-size: 250%;
	color: white;
	border-radius: 50px;
	border: none;
}

.animar_clique{
	animation: efeitoClique 0.6s ease-out;
}

@keyframes efeitoClique{
	0%{
		width: 50%;
		color: black;
		box-shadow: 0px 5px 10px gray;
	}
	50%{
		width: 100%;
		color: black;
		box-shadow: 0px 5px 10px gray;
	}
	95%{
		width: 50%;
		color: black;
		box-shadow: 0px 5px 10px gray;
	}
	100%{
		width: 50%;
		color: black;
		box-shadow: 0px 5px 10px gray;
	}
}



/*________Botao Confirmar________*/
.btn_confirmar{
	background-color: #0086ad;
}

.btn_confirmar:hover{
	background-color: #97ebdb;
}



/*________Botao Continuar________*/
.btn_continuar{
	background-color: #638e44;
}

.btn_continuar:hover{
	background-color: #a3b88d;
}



/*________Botao Voltar________*/
.btn_voltar{
	background-color: #d35e33;
}

.btn_voltar:hover{
	background-color: #ddb991;
}



/*________Selecione Padrao________*/
.slcn_padrao{
	background-color: #e2e2e2;
	width: 50%;
	height: 50%;
	font-family: 'Bahnschrift';
	font-size: 250%;
	border-radius: 50px;
	border: none;
}



/*________Rodape________*/
.rodape{
	width: 80dvw;
	font-family: 'Bahnschrift';
	font-size: 200%;
	border-top: 3px solid gray;
}


/*________Caixa de Graficos________*/
.caixa_graficos{
	width: 95vw;
	height: 40dvh;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	-background: red;
}


/*________Graficos________*/
.graficos{
	position: relative;
	width: 95%;
	height: 95%;
	margin: auto;
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	-background: blue;
}



/*________Caixa de Tabelas________*/
.caixa_tabela{
	-background: green;
	width: 85dvw;
	min-height: 2dvh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	border-bottom: 3px dashed gray;
	border-radius: 50px;
}



/*________Tabela Padrao________*/
.tab_padrao{
	-background: yellow;
	text-align: center;
	font-family: 'Bahnschrift';
	font-size: 150%;
	width: 100%;
}

.verde{
	-background: #b0faa5;
}
.azul{
	-background: #a5cffa;
}