*{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}



/*________________ Corpo ________________*/
.corpo{
	background: #fff7f7;
}



/*________________ Cabecalho ________________*/
.cabecalho{
	background: #ffc0cb;
	min-width: 10vw;
	min-height: 1dvh;
	box-shadow: 0px 3px 10px #313131;
}



/*________________ Caixa de Titulos ________________*/
.caixa_titulos{
	-background: blue;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: 4vw;
}

.titulo{
	-background: green;
	font-family: Birthstone;
	font-size: 2.5rem;
	color: #313131;
	min-width: 1vw;
}

.subtitulo{
	-background: red;
	font-family: MontserratAlternates;
	font-size: 0.85rem;
	color: #313131;
	min-width: 1vw;
}



/*________________ Conteudo ________________*/
.conteudo{
	min-height: 85dvh;
}



/*________________ Caixa Menu ________________*/
.caixa_menu{
	-background: green;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 6vw;
	margin-top: 1.5dvh;
}



/*________________ Caixa Menu Metricas ________________*/
.caixa_menu_metricas{
	-background: yellow;
	display: flex;
	flex-direction: column;
	gap: 1dvh;
	min-height: 1dvh;
	max-width: 90vw;
	margin: auto;
}



/*________________ Botao padrao ________________*/
.btn_padrao{
	background: #ffcccc;
	font-family: MontserratAlternates;
	font-size: 1rem;
	width: 25%;
	padding: 2% 0% 2% 0%;
	border-radius: 50px;
	border: none;
	box-shadow: 0px 3px 10px #313131;
}



/*________________ Caixa Formulario ________________*/
.caixa_formulario{
	background: #ffe4e1;
	width: 95vw;
	min-height: 2dvh;
	margin: auto;
	border-radius: 25px;
	box-shadow: 0px 3px 10px #313131;
}

.formulario_elementos{
	-background: blue;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 3dvh;
}

.form_info{
	font-family: Poppins;
	font-size: 1rem;
	color: #313131;
}

.caixa_texto{
	background: #fff7f7;
	font-family: Poppins;
	font-size: 1rem;
	color: #313131;
	border: none;
	border-radius: 50px;
	outline: none;
	padding-left: 2%;
	box-shadow: 0px 3px 10px #313131;
}

.caixa_texto_invalido{
	background: #ff5050;
	color: #ffffff;
}

.caixa_texto_invalido::placeholder{
	color: #ffffff;
}

.parcelas{
	-background: red;
	display: none;
	width: 60%;
	margin: auto;
	margin-top: 3dvh;
}

.formulario_elementos:has(#agenda_pagamento option[value="credito"]:checked) .parcelas{
	display: block;
}



/*________________ Caixa Tebelas ________________*/
.caixa_tabela{
	-background: green;
	width: 95vw;
	margin: auto;
	margin-top: 2dvh;
}



/*________________ Tabelas ________________*/
.tabela{
	background: #ffe4e1;
	width: 100%;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0px 3px 10px #313131;
}

.tabela_titulo{
	font-family: MontserratAlternates;
	font-size: 0.90rem;
	color: #313131;
	text-align: center;
}

.tabela_linha{
	-background: red;
	font-family: MontserratAlternates;
	font-size: 1rem;
	color: #313131;
	text-align: center;
	border-top: solid 0.15rem #313131;
}
.tabela_impar{
	background: #ffc0cb;
}
.tabela_par{
	background: #ffcccc;
}



/*________________ Caixa Graficos ________________*/
.caixa_graficos{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 95vw;
	min-height: 2dvh;
	margin: auto;
	margin-top: 1.5dvh;
	border-radius: 10px;
	box-shadow: 0px 3px 10px #313131;
}



/*________________ Rodape ________________*/
.rodape{
	background: #ffb4c0;
	position: sticky;
	bottom: 0;
	padding: 1dvh 0vw 1dvh 2vw;
	box-shadow: 0px 3px 10px #313131;
}



/*________________ Fonts ________________*/
@font-face {
  font-family: "Birthstone";
  src: url("../fonts/Birthstone-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MontserratAlternates";
  src: url("../fonts/MontserratAlternates-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/*________________ Animacoes ________________*/
.abrir_botao{
	animation: abrir 0.6s ease-in;
}

@keyframes abrir{
	0%{
		width: 25%;
		background: #fb9fa4;
	}
	50%{
		width: 35%;
		background: #fb9fa4;
	}
	95%{
		width: 25%;
		background: #fb9fa4;
	}
	100%{
		width: 25%;
	}
}

.caixa_texto_valido{
	animation: valido 3s;
}

@keyframes valido{
	0%{
		background: #fff7f7;
	}
	1%{
		background: #d3f770;
	}
	75%{
		background: #d3f770;
	}
	100%{
		background: #fff7f7;
	}
}