*{
	margin: 0px;
	padding: 0px;
}

/*________________ Corpo ________________*/
.corpo{
	background: #f9fafc;
}

/*________________ Cabecalho ________________*/
.cabecalho{
	background: #f7d0cb;
	min-width: 10vw;
	min-height: 1dvh;
	box-shadow: 0px 5px 15px #313131;
}

/*________________ Caixa de Titulos ________________*/
.caixa_titulos{
	-background: blue;
	display: flex;
	flex-direction: column;
	gap: 50%;
	width: 91%;
	margin-left: 4vw;
}

.titulo{
	font-family: Birthstone;
	font-size: 90px;
	color: #313131;
}

.subtitulo{
	font-family: Montserrat;
	font-size: 35px;
	color: #313131;
}

/*________________ Conteudo ________________*/

/*________________ Caixa Menu ________________*/
.caixa_menu{
	-background: green;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5%;
	min-width: 10vw;
	min-height: 3dvh;
	margin-top: 1dvh;
}

/*________________ Botao padrao ________________*/
.btn_padrao{
	background: #f7d0cb;
	font-family: MontserratAlternates;
	font-size: 38px;
	width: 25%;
	border-radius: 50px;
	border: none;
	box-shadow: 0px 5px 10px #313131;
}

/*________________ Caixa Formulario ________________*/
.caixa_formulario{
	background: #f6d9d5;
	width: 90vw;
	min-height: 2dvh;
	margin: auto;
	margin-top: 2dvh;
	border-radius: 25px;
	box-shadow: 0px 10px 15px #313131;
}

.formulario_elementos{
	-background: blue;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 3dvh;
}

.form_info{
	font-family: Poppins;
	font-size: 40px;
	color: #313131;
}

.caixa_texto{
	font-family: Poppins;
	font-size: 40px;
	color: #313131;
	border: none;
	border-radius: 50px;
	-outline: none;
	padding-left: 2%;
	box-shadow: 0px 5px 10px #313131;
}

/*________________ Rodape ________________*/

/*________________ Fonts ________________*/
@font-face {
  font-family: "Birthstone";
  src: url("../fonts/Birthstone-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("../fonts/MontserratAlternates-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*________________ Animacoes ________________*/
.abrir_botao{
	animation: abrir 0.7s ease-in;
}

@keyframes abrir{
	0%{
		width: 25%;
		background: #eec1ad;
	}
	50%{
		width: 40%;
		background: #eec1ad;
	}
	95%{
		width: 25%;
		background: #eec1ad;
	}
	100%{
		width: 25%;
	}
}