*{
	margin: 0px;
	padding: 0px;
}
/*________________ Corpo ________________*/
.corpo{
	background: #e3e4e6;
}

/*________________ Cabecalho ________________*/
.cabecalho{
	background: #f7d0cb;
	min-height: 1dvh;
	box-shadow: 0px 0px 15px #313131;
}
/*________________ Caixa de Titulos ________________*/
.caixa_titulos{
	-background: blue;
	display: flex;
	flex-direction: column;
	gap: 50%;
	width: 40vw;
	height: 50%;
	margin-left: 4vw;
}
.titulo{
	font-family: Birthstone;
	font-size: 56px;
}
.subtitulo{
	font-family: Poppins;
	font-size: 20px;
}
/*________________ Conteudo ________________*/

/*________________ Rodape ________________*/

/*________________ Fonts ________________*/
@font-face {
  font-family: "Birthstone";
  src: url("../fonts/Birthstone-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratAlternates";
  src: url("../fonts/MontserratAlternates-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}